body {
    background-color: #45434f;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

section main-content {
    background-color: #45434f;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 20px;
    text-align: right;
}

sticky {
    position: fixed;
    top: 0;
    width: 100%
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    color: #D01D1D;
    padding: 30px;
}